<html lang="en"><head>
    <meta charset="utf-8">
    <title>Inspire</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
  
    <!-- Favicons -->
    <link href="medal.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
  
    <!-- Bootstrap CSS File -->
    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Include jQuery from a CDN -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- static/libraries CSS Files -->
    <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  
  
  
    <!-- Main Stylesheet File -->
    <link href="static/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
      Theme Name: Reveal
      Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
  <style type="text/css" id="operaUserStyle"></style>
<style>
  body {
    font-family: 'Montserrat', sans-serif;
}

/* Aplicar Montserrat a todos los elementos dentro de la sección */
#create-challenge * {
    font-family: 'Montserrat', sans-serif;
}

/*color del botón a  */
#create-challenge button.btn-primary {
    background-color: #50D8AF; /* Color verde, puedes ajustar este valor según tus preferencias */
    border: 1px solid #50D8AF; /* Borde verde */
}

/* Cambiar el color del texto del botón a blanco para que sea legible */
#create-challenge button.btn-primary:hover {
    color: white;
}
.animated-section {
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(20px); /* Inicialmente desplazado hacia abajo */
  transition: opacity 1s, transform 1s;
}

.animated-section.active {
  opacity: 1; /* Se hace visible */
  transform: translateY(0); /* Se coloca en su posición original */
}


</style>


</head>
  
  <body id="body"><button type="button" id="mobile-nav-toggle"><i class="fa fa-bars"></i></button>
  
    {% include 'header2.html' %}

    <!--==========================
      Intro Section
    ============================-->
     
    
      <main id="main">
    
     
    
        <!--==========================
          Services Section
        ============================-->
        <section class="animated-section" style="font-family: 'Montserrat', sans-serif;" id="create_challenge_">
          <div class="container">
              <div class="section-header">
                <br></br>
                  <h2 class="text-center">Crear Insignia</h2>
                  <p class="text-center">Aquí puedes crear una nueva insignia para tus empleados</p>
              </div>
      
              <div class="row">
                  <div class="col-lg-8 offset-lg-2">
                      <form method="POST" enctype="multipart/form-data" class="border p-4 rounded">
                          {% csrf_token %}
                          <div class="mb-3">
                              <label for="title" class="form-label">Nombre de la insignia</label>
                              <input type="text" class="form-control" id="Nombre" name="Nombre" value="{{ form.Nombre.value }}" required>
                          </div>
                          <div class="mb-3">
                              <label for="image" class="form-label">Imagen</label>
                              <input type="file" class="form-control" id="Imagen" name="Imagen" accept="image/*" value="{{ form.Imagen.value }}" required>
                          </div>
                          
                          <div class="mb-3">
                              <label for="challenge_completed" class="form-label">Reto a completar</label>
                              <select class="form-select" id="Reto" name="Reto" value="{{ form.Reto.value }}" required>
                                {% for option in Retos %}
                                <option value="{{ option.id }}">{{ option.nombre }}</option>
                                {% endfor %}
        
                              </select>
                          </div>
                          
                          <!-- Add more form fields as needed -->
      
                          <button type="submit" class="btn btn-primary " style="background-color: #50D8AF; border: #50D8AF;">Guardar Insignia</button>
                      </form>
                  </div>
              </div>
          </div>
      </section>
      
    
    
    
      </main>
    
      <!--==========================
        Footer
      ============================-->
      <footer id="footer">
        <div class="container">
          <div class="copyright">
            © Copyright <strong>Inspire</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </footer><!-- #footer -->
    
      <a href="#" class="back-to-top" style="display: none;"><i class="fa fa-chevron-up"></i></a>
    
      <!-- JavaScript Libraries -->
          <!-- Include jQuery from a CDN -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="static/lib/jquery/jquery.min.js"></script>
      <script src="static/lib/jquery/jquery-migrate.min.js"></script>
      <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="static/lib/easing/easing.min.js"></script>
      <script src="static/lib/superfish/hoverIntent.js"></script>
      <script src="static/lib/superfish/superfish.min.js"></script>
      <script src="static/lib/wow/wow.min.js"></script>
      <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
      <script src="static/lib/magnific-popup/magnific-popup.min.js"></script>
      <script src="static/lib/sticky/sticky.js"></script>
    
      <!-- Contact Form JavaScript File -->
      <script src="static/contactform/contactform.js"></script>
    
      <!-- Template Main Javascript File -->
      <script src="static/js/main.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
      <script>
          $(document).ready(function() {
              $(".animated-section").addClass("active");
          });
      </script>
    
    
    
    <nav id="mobile-nav">
            <ul class="" style="touch-action: pan-y;" id="">
              <li class="menu-active"><a href="#body">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#team">Team</a></li>
              <li class="menu-has-children"><i class="fa fa-chevron-down"></i><a href="" class="sf-with-ul">Drop Down</a>
                <ul style="display: none;">
                  <li><a href="#">Drop Down 1</a></li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                  <li><a href="#">Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav><div id="mobile-body-overly"></div></body></html>