<html lang="en"><head>
  {% load static %}
    <meta charset="utf-8">
    <title>Inspire</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
  
    <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
  
    <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Include jQuery from a CDN -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- static/libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    
  
  
  
    <!-- Main Stylesheet File -->
   <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <style>
        /* Estilo para la fuente del formulario */
        form {
            font-family: 'Montserrat', sans-serif; /* Fuente de Google 'Montserrat' o la fuente que desees */
        }
    
        /* Estilo para los labels */
        label {
            font-family: 'Montserrat', sans-serif; /* Fuente de Google 'Montserrat' o la fuente que desees */
            font-weight: bold; /* Opcional: Haz que los labels sean negritas */
        }
        .btn-primary {
            background-color: #003366 !important; /* Azul marino más claro */
            border-color: #003366 !important; /* Color del borde igual al fondo */
            color: #fff !important; /* Texto en blanco */
        }
    
        .btn-primary:hover {
            background-color: #005b96 !important; /* Cambia el color de fondo al pasar el cursor por encima */
            border-color: #005b96 !important; /* Cambia el color del borde al pasar el cursor por encima */
        }
    </style>
    
    
  
    <!-- =======================================================
      Theme Name: Reveal
      Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
  <style type="text/css" id="operaUserStyle"></style></head>
  
  <body id="body"><button type="button" id="mobile-nav-toggle"><i class="fa fa-bars"></i></button>
  
    <!--==========================
      Top Bar
    ============================-->
    <section id="topbar" class="d-none d-lg-block">
      <div class="container clearfix">
        <div class="contact-info float-left">
          <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">inspire@gmail.com</a>
          <i class="fa fa-phone"></i> +57 301 574 4871 
        </div>
        <div class="social-links float-right">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
          <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </section>
  
    <!--==========================
      Header
    ============================-->
    <div id="header-sticky-wrapper" class="sticky-wrapper" style="height: 84px;">
      <header id="header">
        <div class="container">
          <div id="logo" class="pull-left">
            <h1><a href="#body" class="scrollto"><span>I</span>ns<span>p</span>ire</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;"><li class="menu-active"><a href="http://localhost:8000/">Inicio</a></li>
            <li><a href="#about">Iniciar Sesión</a></li>
            <li class="menu-has-children"><a href="" class="sf-with-ul">Retos</a>
                <ul style="display: none;">
                  <li><a href="http://localhost:8000/create_challenge">Crear Reto</a></li>
                  <li><a href="http://localhost:8000/view_challenges">Ver Retos</a></li>
                </ul>
              </li>
            <li><a href="#portfolio">Mi Perfil</a></li>
            <li><a href="http://localhost:8000/Tienda">Tienda</a></li>
            <li class="menu-has-children"><a href="" class="sf-with-ul">Mi Empresa</a>
              <ul style="display: none;">
                <li><a href="#">Progreso de la Organización</a></li>
                <li><a href="#">Información</a></li>
                <li><a href="#">Analíticas</a></li>
              </ul>
            </li>
            <li><a href="#contact">Acerca De</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header></div><!-- #header -->
  
    <!--==========================
      Intro Section
    ============================-->
   
  
    <main id="main">
  
   
  
      <!--==========================
        Services Section
      ============================-->
      <section id="create-challenge" class="bg-light py-5">
        <div class="container">
            <div class="section-header">
                <h2 class="text-center">Editar Reto</h2>
                <h5 class="card-title mb-3"><h1 style="font-size: 30px; color: black !important">Editando Reto: {{ reto_a_editar.nombre }}</h1></h5>
            </div>
    
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form method="POST" enctype="multipart/form-data" class="border p-4 rounded" action="">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="title" class="form-label">Título del Reto</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ reto_a_editar.nombre }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Descripción del Reto</label>
                            <textarea class="form-control" id="descripcion" name="descripcion" rows="4" value="{{ reto_a_editar.descripcion }}"  required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Imagen</label>
                            <input type="file" class="form-control" id="imagen" name="imagen" accept="image/*" value="{{ reto_a_editar.imagen }}"  required>
                        </div>
                        <div class="mb-3">
                            <label for="start_date" class="form-label">Fecha de Publicación</label>
                            <input type="date" class="form-control" id="fecha_publicacion" name="fecha_publicacion" value="{{ reto_a_editar.fecha_publicacion }}"  required>
                        </div>
                        <div class="mb-3">
                            <label for="end_date" class="form-label">Fecha de Vencimiento</label>
                            <input type="date" class="form-control" id="fecha_vencimiento" name="fecha_vencimiento" value="{{ reto_a_editar.fecha_vencimiento }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="badge_name" class="form-label">Nombre de la Insignia</label>
                            <input type="text" class="form-control" id="nombre_insignia" name="nombre_insignia" value="{{ reto_a_editar.nombre_insignia }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="badge_category" class="form-label">Categoría de la Insignia</label>
                            <select class="form-select" id="categoria_insignia" name="categoria_insignia" value="{{ reto_a_editar.categoria_insignia }}" required>
                                <option value="Comunicación efectiva">Comunicación efectiva</option>
                                <option value="Trabajo en equipo">Trabajo en equipo</option>
                                <option value="Resolución de conflictos">Resolución de conflictos</option>
                                <option value="Pensamiento crítico">Pensamiento crítico</option>
                                <option value="Creatividad">Creatividad</option>
                                <option value="Adaptabilidad">Adaptabilidad</option>
                                <option value="Gestión del tiempo">Gestión del tiempo</option>
                                <option value="Liderazgo">Liderazgo</option>
                                <option value="Empatía">Empatía</option>
                                <option value="Habilidades de presentación">Habilidades de presentación</option>
                                <option value="Toma de decisiones">Toma de decisiones</option>
                                <option value="Escucha activa">Escucha activa</option>
                                <option value="Colaboración">Colaboración</option>
                                <option value="Autoconfianza">Autoconfianza</option>
                                <option value="Resiliencia">Resiliencia</option>
                                <option value="Pensamiento analítico">Pensamiento analítico</option>
                                <option value="Capacidad de negociación">Capacidad de negociación</option>
                                <option value="Habilidades interpersonales">Habilidades interpersonales</option>
                                <option value="Gestión del estrés">Gestión del estrés</option>
                                <option value="Planificación y organización">Planificación y organización</option>
                            </select>
                        </div>
                        
                        
                        <div class="mb-3">
                            <label for="token_amount" class="form-label">Cantidad de Tokens</label>
                            <input type="number" class="form-control" id="tokens" name="tokens" value="{{ reto_a_editar.tokens }}"  required>
                        </div>
                        <div class="mb-3">
                            <label for="participant_limit" class="form-label">Límite de Participantes</label>
                            <input type="number" class="form-control" id="limite_participantes" name="limite_participantes" min="1" max="6" value="{{ reto_a_editar.nombre }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="winner_count" class="form-label">Cantidad de Ganadores</label>
                            <input type="number" class="form-control" id="winner_count" name="cantidad_ganadores" value="{{ reto_a_editar.nombre }}"  required>
                        </div>
                        <!-- Add more form fields as needed -->
    
                        <button type="submit" name="save_changes" class="btn btn-primary">Guardar Reto</button>
                        <button type="submit" name="delete_reto" class="btn red btn-primary !important">Eliminar Reto</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
  
      <!--==========================
        Clients Section 
      ============================-->
      <section id="clients" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    
      </section><!-- #clients -->
  
      <!--==========================
        Our Portfolio Section
      ============================-->
      <section id="portfolio" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
          <div class="section-header">
            <h2>Estadísticas</h2>
            <p>Visualiza las estadísticas y el comportamiento de los empleados de tu organización de acuerdo a los retos que completan.</p>
          </div>
        </div>
  
        <div class="container-fluid">
          <div class="row no-gutters">
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/1.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/1.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 1</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/2.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/2.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 2</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/3.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/3.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 3</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/4.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/4.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 4</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/5.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/5.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 5</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/6.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/6.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 6</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/7.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/7.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 7</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/8.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/8.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 8</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #portfolio -->
  
      <!--==========================
        Testimonials Section
      ============================-->
      <section id="testimonials" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
          <div class="section-header">
            <h2>Testimonials</h2>
            <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
          </div>
          <div class="owl-carousel testimonials-carousel owl-loaded owl-drag">
  
              
  
              
  
              
  
              
  
              
  
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3570px, 0px, 0px); transition: all 0.25s ease 0s; width: 5610px;"><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div></div><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div></div><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div></div><div class="owl-item" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div></div><div class="owl-item" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div></div><div class="owl-item" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div></div><div class="owl-item" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div></div><div class="owl-item active" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div></div><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div></div><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div></div><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>
  
        </div>
      </section><!-- #testimonials -->
  
      <!--==========================
        Call To Action Section
      ============================-->
      <section id="call-to-action" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Call To Action</h3>
              <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#">Call To Action</a>
            </div>
          </div>
  
        </div>
      </section><!-- #call-to-action -->
  
      <!--==========================
        Our Team Section
      ============================-->
      <section id="team" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
          <div class="section-header">
            <h2>Our Team</h2>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="static/img/team-1.jpg" alt=""></div>
                <div class="details">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="static/img/team-2.jpg" alt=""></div>
                <div class="details">
                  <h4>Sarah Jhinson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="static/img/team-3.jpg" alt=""></div>
                <div class="details">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="static/img/team-4.jpg" alt=""></div>
                <div class="details">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- #team -->
  
      <!--==========================
        Contact Section
      ============================-->
      <section id="contact" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
          <div class="section-header">
            <h2>Contact Us</h2>
            <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
          </div>
  
          <div class="row contact-info">
  
            <div class="col-md-4">
              <div class="contact-address">
                <i class="ion-ios-location-outline"></i>
                <h3>Address</h3>
                <address>A108 Adam Street, NY 535022, USA</address>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-phone">
                <i class="ion-ios-telephone-outline"></i>
                <h3>Phone Number</h3>
                <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-email">
                <i class="ion-ios-email-outline"></i>
                <h3>Email</h3>
                <p><a href="mailto:info@example.com">info@example.com</a></p>
              </div>
            </div>
  
          </div>
        </div>
  
        <div class="container mb-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
  
        <div class="container">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validation"></div>
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
  
        </div>
      </section><!-- #contact -->
  
    </main>
  
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          © Copyright <strong>Inspire</strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer><!-- #footer -->
  
    <a href="#" class="back-to-top" style="display: none;"><i class="fa fa-chevron-up"></i></a>
  
    <!-- JavaScript Libraries -->
  <!-- Include jQuery from a CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/magnific-popup/magnific-popup.min.js' %}"></script>
<script src="{% static 'lib/sticky/sticky.js' %}"></script>

<!-- Contact Form JavaScript File -->
<script src="{% static 'contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>

  
  
  
  <nav id="mobile-nav">
          <ul class="" style="touch-action: pan-y;" id="">
            <li class="menu-active"><a href="#body">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li>
            <li class="menu-has-children"><i class="fa fa-chevron-down"></i><a href="" class="sf-with-ul">Drop Down</a>
              <ul style="display: none;">
                <li><a href="#">Drop Down 1</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
                <li><a href="#">Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav><div id="mobile-body-overly"></div></body></html>