<html lang="en"><head>
  <meta charset="utf-8">
  <title>Inspire</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="medal.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Include jQuery from a CDN -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!-- static/libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">



  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
<style type="text/css" id="operaUserStyle"></style></head>

<body id="body"><button type="button" id="mobile-nav-toggle"><i class="fa fa-bars"></i></button>

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">inspire@gmail.com</a>
        <i class="fa fa-phone"></i> +57 301 574 4871 
      </div>
      <div class="social-links float-right">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <div id="header-sticky-wrapper" class="sticky-wrapper" style="height: 84px;">
    <header id="header">
      <div class="container">
        <div id="logo" class="pull-left">
          <h1><a href="#body" class="scrollto"><span>I</span>ns<span>p</span>ire</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#body"><img src="img/x|.png" alt="" title="" /></a>-->
        </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;"><li class="menu-active"><a href="#body">Inicio</a></li>
          <li><a href="http://localhost:8000/sign_up_type">Registrarme</a></li>
          <li><a href="http://localhost:8000/login_view">Iniciar Sesión</a></li>
          <li><a href="http://localhost:8000/challenges">Retos</a></li>
          <li><a href="http://localhost:8000/profile">Mi Perfil</a></li>
          <li><a href="#team">Tienda</a></li>
          <li class="menu-has-children"><a href="" class="sf-with-ul">Mi Empresa</a>
            <ul style="display: none;">
              <li><a href="#">Progreso de la Organización</a></li>
              <li><a href="#">Información</a></li>
              <li><a href="#">Analíticas</a></li>
            </ul>
          </li>
          <li><a href="#contact">Acerca De</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header></div><!-- #header -->
  
    <!--==========================
      Intro Section
    ============================-->
   
  
    <main id="main">
  
   
  
      <!--==========================
        Services Section
      ============================-->
      <br></br>
      <section style="background-color: #EEF0F1; font-family: 'Montserrat', sans-serif;" id="services">
        <div class="container py-5">
            <div class="section-header">
                <h2 class="text-center" style="color: #172F85;">Perfil</h2>
                <p class="text-center" style="color: #7F88BC;">Administra tu cuenta</p>
            </div>
    
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3" style="color: #172F85;">Juan Camilo Villa</h5>
                            <p class="text-muted mb-1" style="color: #83D2B8;">Representante de Ventas</p>
                            <p class="text-muted mb-4">Medellín, Antioquia</p>
                            <div class="d-flex justify-content-center mb-2">
                              <button type="button" class="btn btn-primary mb-2" style="background-color: #83D2B8; border: 1px solid #6CBA99;">Edit Profile</button>
                              <button type="button" class="btn btn-primary mb-2" style="background-color: #83D2B8; border: 1px solid #6CBA99;">Log Out</button>
                          </div>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                        <div class="card-body p-0">
                            <ul class="list-group list-group-flush rounded-3">
                                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                    <i class="fas fa-user-alt m-1 me-md-2" style="color: #172F85;"></i>
                                    <p class="mb-0" style="color: #172F85;">juancamilo@eafit.edu.co</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0" style="color: #172F85;">Nombre</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" style="color: #7F88BC;">Juan Camilo Villa</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0" style="color: #172F85;">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" style="color: #7F88BC;">juancamilo@eafit.edu.co</p>
                                </div>
                            </div>
                            <hr>
                            <div class "row">
                                <div class="col-sm-3">
                                    <p class="mb-0" style="color: #172F85;">Celular</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" style="color: #7F88BC;">(+57) 304 6568217</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0" style="color: #172F85;">Organización</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" style="color: #7F88BC;">EAFIT</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <!-- Deja este espacio en blanco o agrega más contenido según tus necesidades -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #172F85;">Skills</h5>
                             
                                <p class="mb-1" style="font-size: .77rem; color: #7F88BC;">Leadership</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 30%; background-color: #83D2B8;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mb-1" style="font-size: .77rem; color: #7F88BC;">Teamwork</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 20%; background-color: #83D2B8;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mb-1" style="font-size: .77rem; color: #7F88BC;">Critical Thinking</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 5%; background-color: #83D2B8;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mb-1" style="font-size: .77rem; color: #7F88BC;">Adaptability</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 30%; background-color: #83D2B8;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mb-1" style="font-size: .77rem; color: #7F88BC;">Customer Service</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 20%; background-color: #83D2B8;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        
                </div>
                <div class="col-md-4">
                  <div class="card mb-4">
                    <div class="card-body">
                      <h5 class="card-title">Active Challenges</h5>
                      <p class="card-text">4</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4">
                    <div class="card-body">
                      <h5 class="card-title">Badges</h5>
                      <p class="card-text">3</p>
                    </div>
                  </div>
                </div>
       
              </div>
              
              
       
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    
      <!--==========================
        Clients Section 
      ============================-->
      <section id="clients" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    
      </section><!-- #clients -->
  
      <!--==========================
        Our Portfolio Section
      ============================-->
      <section id="portfolio" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
          <div class="section-header">
            <h2>Estadísticas</h2>
            <p>Visualiza las estadísticas y el comportamiento de los empleados de tu organización de acuerdo a los retos que completan.</p>
          </div>
        </div>
  
        <div class="container-fluid">
          <div class="row no-gutters">
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/1.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/1.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 1</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/2.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/2.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 2</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/3.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/3.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 3</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/4.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/4.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 4</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/5.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/5.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 5</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/6.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/6.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 6</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/7.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/7.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 7</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-4">
              <div class="portfolio-item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <a href="static/img/portfolio/8.jpg" class="portfolio-popup">
                  <img src="static/img/portfolio/8.jpg" alt="">
                  <div class="portfolio-overlay">
                    <div class="portfolio-info"><h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Portfolio Item 8</h2></div>
                  </div>
                </a>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #portfolio -->
  
      <!--==========================
        Testimonials Section
      ============================-->
      <section id="testimonials" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
          <div class="section-header">
            <h2>Testimonials</h2>
            <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
          </div>
          <div class="owl-carousel testimonials-carousel owl-loaded owl-drag">
  
              
  
              
  
              
  
              
  
              
  
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3570px, 0px, 0px); transition: all 0.25s ease 0s; width: 5610px;"><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div></div><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div></div><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div></div><div class="owl-item" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div></div><div class="owl-item" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div></div><div class="owl-item" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div></div><div class="owl-item" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div></div><div class="owl-item active" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div></div><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div></div><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div></div><div class="owl-item cloned" style="width: 510px;"><div class="testimonial-item">
                <p>
                  <img src="static/img/quote-sign-left.png" class="quote-sign-left" alt="">
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <img src="static/img/quote-sign-right.png" class="quote-sign-right" alt="">
                </p>
                <img src="static/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>
  
        </div>
      </section><!-- #testimonials -->
  
      <!--==========================
        Call To Action Section
      ============================-->
      <section id="call-to-action" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Call To Action</h3>
              <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#">Call To Action</a>
            </div>
          </div>
  
        </div>
      </section><!-- #call-to-action -->
  
      <!--==========================
        Our Team Section
      ============================-->
      <section id="team" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
          <div class="section-header">
            <h2>Our Team</h2>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="static/img/team-1.jpg" alt=""></div>
                <div class="details">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="static/img/team-2.jpg" alt=""></div>
                <div class="details">
                  <h4>Sarah Jhinson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="static/img/team-3.jpg" alt=""></div>
                <div class="details">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="member">
                <div class="pic"><img src="static/img/team-4.jpg" alt=""></div>
                <div class="details">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- #team -->
  
      <!--==========================
        Contact Section
      ============================-->
      <section id="contact" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
          <div class="section-header">
            <h2>Contact Us</h2>
            <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
          </div>
  
          <div class="row contact-info">
  
            <div class="col-md-4">
              <div class="contact-address">
                <i class="ion-ios-location-outline"></i>
                <h3>Address</h3>
                <address>A108 Adam Street, NY 535022, USA</address>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-phone">
                <i class="ion-ios-telephone-outline"></i>
                <h3>Phone Number</h3>
                <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-email">
                <i class="ion-ios-email-outline"></i>
                <h3>Email</h3>
                <p><a href="mailto:info@example.com">info@example.com</a></p>
              </div>
            </div>
  
          </div>
        </div>
  
        <div class="container mb-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
  
        <div class="container">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validation"></div>
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
  
        </div>
      </section><!-- #contact -->
  
    </main>
  
    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          © Copyright <strong>Inspire</strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer><!-- #footer -->
  
    <a href="#" class="back-to-top" style="display: none;"><i class="fa fa-chevron-up"></i></a>
  
    <!-- JavaScript Libraries -->
        <!-- Include jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/lib/jquery/jquery.min.js"></script>
    <script src="static/lib/jquery/jquery-migrate.min.js"></script>
    <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/superfish/hoverIntent.js"></script>
    <script src="static/lib/superfish/superfish.min.js"></script>
    <script src="static/lib/wow/wow.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="static/lib/sticky/sticky.js"></script>
  
    <!-- Contact Form JavaScript File -->
    <script src="static/contactform/contactform.js"></script>
  
    <!-- Template Main Javascript File -->
    <script src="static/js/main.js"></script>
  
  
  
  <nav id="mobile-nav">
          <ul class="" style="touch-action: pan-y;" id="">
            <li class="menu-active"><a href="#body">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li>
            <li class="menu-has-children"><i class="fa fa-chevron-down"></i><a href="" class="sf-with-ul">Drop Down</a>
              <ul style="display: none;">
                <li><a href="#">Drop Down 1</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
                <li><a href="#">Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav><div id="mobile-body-overly"></div></body></html>