<html lang="en"><head>
  <meta charset="utf-8">
  <title>Inspire</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="medal.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Include jQuery from a CDN -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!-- static/libraries CSS Files -->
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">



  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
<style type="text/css" id="operaUserStyle"></style></head>

<body id="body"><button type="button" id="mobile-nav-toggle"><i class="fa fa-bars"></i></button>

  {% include 'header.html' %}
    <!--==========================
      Intro Section
    ============================-->
   
  
    <main id="main">
  
   
  
      <!--==========================
        Services Section
      ============================-->
      <br></br>
      <section id="services">
        <div class="container">
            <div class="section-header">
                <h2>Registrar Cuenta de Empleado</h2>
                <p>Registra tu cuenta de empleado diligenciando los siguientes campos:</p>
            </div>
    
            <section class="vh-100">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-lg-12 col-xl-11">
                            <div class="card text-black" style="border-radius: 25px;">
                                <div class="card-body p-md-5" style="font-family: 'Montserrat', sans-serif;">
                                    <div class="row justify-content-center">
                                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registro</p>
                                            <form method="POST" enctype="multipart/form-data" class="border p-4 rounded" action="{% url 'create_employee_' %}">
                                              {% csrf_token %}
                                              {% if error %}
                                                <div class="alert alert-danger mt-3" role="alert">
                                                    {{ error }}
                                                </div>
                                              {% endif %} 

                                          <div class="mb-4">
                                            <label for="username" class="form-label">Nombre de Usuario</label>
                                            <input type="text" id="username" class="form-control" name="username" placeholder="Nombre de Usuario" required>
                                          
                                          </div>
    
                                                <div class="mb-4">
                                                    <label for="nombre" class="form-label">Nombre del Empleado</label>
                                                    <input type="text" id="nombre_empleado" class="form-control" name="nombre_empleado" required>
                                                 
                                                  </div>
    
                                                <div class="mb-4">
                                                    <label for="email" class="form-label">Correo electrónico</label>
                                                    <input type="email" id="email_empleado" class="form-control" name="email_empleado" required>
                                                    
      
                                                  </div>
    
                                                <div class="mb-4">
                                                    <label for "contrasena" class="form-label">Contraseña</label>
                                                    <input type="password" id="password1" class="form-control" name="password1" required>
                                                    <!-- Instrucciones para una contraseña segura -->
                                                    <small class="form-text text-muted">La contraseña debe tener al menos 8 caracteres.</small>
                                                   
                                                </div>

                                                <div class="mb-4">
                                                  <label for "contrasena" class="form-label">Confirmar Contraseña</label>
                                                  <input type="password" id="password2" class="form-control" name="password2" required>
                                                  <!-- Instrucciones para una contraseña segura -->
                                                  <small class="form-text text-muted">Las contraseñas deben coincidir.</small>
                                                 
                                              </div>
    
                                                <div class="mb-4">
                                                  <label for="organizacion_empleado" class="form-label">Organización</label>
                                                  <input type="text" id="organizacion_empleado" class="form-control" name="organizacion_empleado" required>
                                               
                                              </div>
                                              <div class="mb-4">
                                                <label for="cargo_empleado" class="form-label">Cargo</label>
                                                <input type="text" id="cargo_empleado" class="form-control" name="cargo_empleado" required>
                                               
                                            </div>
                                              <div class="mb-4">
                                                <label for="imagen_empleado" class="form-label">Imagen</label>
                                                <input type="file" class="form-control" id="imagen_empleado" name="imagen_empleado" accept="image/*" required>
                                               
                                            </div>
    
                                                <div class="form-check mb-4">
                                                    <input class "form-check-input" type="checkbox" id="termsCheckbox" check>
                                                    <label class="form-check-label" for "termsCheckbox">
                                                        Acepto <a href="#">Términos y condiciones</a>
                                                    </label>
                                                </div>
                                                <p class="text-center">Si ya tienes una cuenta, <a href="login_view">Inicia Sesión</a></p>
    
                                                <div class="d-flex justify-content-center">
                                                  <button type="submit" class="btn btn-primary btn-lg" style="background-color: #162E85;">Registrarse</button>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-start order-1 order-lg-2">
                                          <img src="https://img.freepik.com/vector-premium/concepto-analisis-empresarial-datos-graficos_662093-412.jpg?w=360" class="img-fluid" alt="Sample image" style="width: 80%; margin-right: 30px; margin-top: 5px;">
                                      </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    
    
  
      <!--==========================
        Clients Section 
      ============================-->
  
  
      <!--==========================
        Our Portfolio Section
      ============================-->

  
    <!--==========================
      Footer
    ============================-->

  
    <a href="#" class="back-to-top" style="display: none;"><i class="fa fa-chevron-up"></i></a>
  
    <!-- JavaScript Libraries -->
        <!-- Include jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/lib/jquery/jquery.min.js"></script>
    <script src="static/lib/jquery/jquery-migrate.min.js"></script>
    <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/superfish/hoverIntent.js"></script>
    <script src="static/lib/superfish/superfish.min.js"></script>
    <script src="static/lib/wow/wow.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="static/lib/sticky/sticky.js"></script>
  
    <!-- Contact Form JavaScript File -->
    <script src="static/contactform/contactform.js"></script>
  
    <!-- Template Main Javascript File -->
    <script src="static/js/main.js"></script>
  
  
  
  <nav id="mobile-nav">
          <ul class="" style="touch-action: pan-y;" id="">
            <li class="menu-active"><a href="#body">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li>
            <li class="menu-has-children"><i class="fa fa-chevron-down"></i><a href="" class="sf-with-ul">Drop Down</a>
              <ul style="display: none;">
                <li><a href="#">Drop Down 1</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
                <li><a href="#">Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav><div id="mobile-body-overly"></div></body></html>