   
    <!--==========================
      Top Bar
    ============================-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/tokens.js"></script>
    <script>
        // Obtener la cantidad de tokens del usuario
function getTokens() {
  // Obtener el usuario actual
  const user = django.contrib.auth.get_user(document.querySelector("body"));

  // Obtener la cantidad de tokens del usuario
  const tokens = user.empleado.tokens;

  return tokens;
}

// Actualizar el contenido del elemento HTML
function updateTokens() {
  // Obtener la cantidad de tokens del usuario
  const tokens = getTokens();

  // Obtener el elemento HTML que mostrará la cantidad de tokens
  const element = document.querySelector("#tokens");

  // Actualizar el contenido del elemento HTML
  element.textContent = tokens;
}

// Ejecutar el script al cargar la página
document.addEventListener("DOMContentLoaded", updateTokens);


    </script>
    <section id="topbar" class="d-none d-lg-block">
      <div class="container clearfix">
        <div class="contact-info float-left">
          <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">inspire@gmail.com</a>
          <i class="fa fa-phone"></i> +57 301 574 4871
        </div>
        <div class="social-links float-right">
          <div class="user-info">
            {% if user.is_authenticated %}
              ¡Hola, {{ user.username }}! | Iniciaste sesión como: {{ user.email}} |
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    
  
    <!--==========================
      Header
    ============================-->
    <div id="header-sticky-wrapper" class="sticky-wrapper" style="height: 84px;">
      <header id="header">
        <div class="container">
          <div id="logo" class="pull-left">
            <h1><a href="http://localhost:8000" class="scrollto"><span>I</span>ns<span>p</span>ire</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="#body"><img src="img/x|.png" alt="" title="" /></a>-->
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;"><li class="menu-active"><a href="http://localhost:8000">Inicio</a></li>
            <li><a href="http://localhost:8000/sign_up_type">Registrarme</a></li>
            {% if user.is_authenticated %}
            <li><a href="http://localhost:8000/log_out">Cerrar Sesión</a></li>
            {% else %}
            <li><a href="http://localhost:8000/login_view">Iniciar Sesión</a></li>
            {% endif %}
            <li><a href="http://localhost:8000/challenges">Retos</a></li>
            <li class="menu-has-children"><a href="http://localhost:8000/badges" class="sf-with-ul">Insignias</a>
              <ul style="display: none;">
                <li><a href="http://localhost:8000/create_badge">Crear Insignia</a></li>
                <li><a href="http://localhost:8000/edit_badge">Editar Insignia</a></li>
                <li><a href="http://localhost:8000/assign_badge">Asignar Insignia</a></li>
  
              </ul>
            </li>
            <li><a href="http://localhost:8000/profile">Mi Perfil</a></li>
            <li><a href="#team">Tienda</a></li>
            <li class="menu-has-children"><a href="" class="sf-with-ul">Mi Empresa</a>
              <ul style="display: none;">
                <li><a href="http://localhost:8000/show_progress">Progreso de la Organización</a></li>
                <li><a href="#">Información</a></li>
                <li><a href="#">Analíticas</a></li>
              </ul>
            </li>
            <li><a href="https://www.magneto365.com/home/ ">Magneto</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header></div><!-- #header -->